body {
    margin: 0px;
    padding: 0px;
    background: #f8f8f8;
}

#wrapper {
    margin: auto;
    max-width: 1080px;
}

#head {
    width: 100%;
    height: 80px;
    background: #eee;
    box-shadow: 1px 1px 3px #000;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

#login-buttons {
    float: left;
}

#title {
    display: inline-block;
}

#content {
    width: 100%;
    margin: auto;
}

#footer {
}

#sub-title {
    margin-left: 25px;

}

.lists {
    text-align: center;
}

.lists a:hover {
    text-decoration: none;
}

.list {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    text-align: center;
    box-shadow: 1px 1px 2px #000;
    border-radius: 5px;
    margin: 6px 6px 6px 6px;
}

.list:hover {
    position: relative;
    box-shadow: inset 1px 1px 2px #000;
    left: 1px;
    top: 1px;
    text-decoration: none;
}

.list .name {
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 22px;
    line-height: 50px;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
}

.list .nb-element {
    font-size: 60px;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
}

.list .toolbox {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    white-space: nowrap;
    padding: 5px;
    text-align: right;
}

.list.add {
    background: #58ACFA;
    line-height: 200px;
    font-size: 150px;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor: pointer;
}

.popup {
    display: none;
    text-align: left;
    position: absolute;
    background: white;
    padding: 15px;
    z-index: 100;
    border: 3px solid #000;
    border-radius: 6px;
    opacity: 1;
    left: 50%;
    top: 50%;
    transition: opacity .5s, top .5s;
    transform: translate(-50%, -50%);
}

.popup h2 {
    text-align: center;
    border-bottom: solid 1px #e1e1e1;
    margin-top: 0px;
    padding-bottom: 15px;
}

.popup#add-new-list {
}

.popup label {
    width: 150px;
}

.popupBack {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000000;
    opacity: 0.2;
    display: none;
}

.list-item {
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;
}

.list-item th {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
