<template name="listsList">
    <div class="lists">
        {{#each lists}}
            {{> listItem}}
        {{/each}}
        <div class="list add" id="add-list">
            <span>+</span>
        </div>
        <div class="popupBack" id="add-new-list-background">
        </div>
        <div class="popup" id="add-new-list">
            <form id="new-list" method="post">
                <p id="name_input"><label for="name">Name</label><input type="text" name="name" value="" id="name"></p>
                <p id="color_input"><label for="color">Color</label><input type="color" name="color" value="#ffffff" class="" id="color"></p>
                <p id="attribute_input_1"><label for="attribute[1]">Attribute 1 Name</label><input type="text" name="attribute[1]" class="attribute" id="attribute1"></p>
                <p id="attribute_input_2"><label for="attribute[2]">Attribute 2 Name</label><input type="text" name="attribute[2]" class="attribute" id="attribute2"></p>
                <p><a id="clone_attribute">Add more attributes</a></p>
                <p><input type="submit" value="Submit" name="submit" id="submit"/></p>
            </form>
        </div>
    </div>
</template>
